<main class="app">
    <section class="table">
        <nz-drawer [nzClosable]="false" [nzVisible]="showEdit" nzPlacement="right" [nzTitle]="title" (nzOnClose)="onCloseDrawer()">
            <form nz-form *nzDrawerContent [formGroup]="petForm" (ngSubmit)="onSubmitForm()">
                <nz-form-item>
                    <nz-form-label>Name</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="Pet name"  formControlName="name"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Breed</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="Breed"  formControlName="breed"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Birthdate</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker style="width: 100%;" placeholder="Birthdate"  formControlName="birthdate"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Gender</nz-form-label>
                    <nz-form-control>
                       <nz-select nzPlaceHolder="Gender" formControlName="gender">
                        <nz-option nzValue="Male" nzLabel="Male"></nz-option>
                        <nz-option nzValue="Female" nzLabel="Female"></nz-option>
                       </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <div class="buttons-container">
                    <button nz-button (click)="onCloseDrawer()">Cancel</button>
                    <nz-form-item>
                        <nz-form-control>
                            <button nz-button nzType="primary" type="submit">Save</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </form>
        </nz-drawer>
        <div class="title-container">
            <h2>Animals List</h2>
            <button nz-button nz-dropdown [nzDropdownMenu]="menu" [nzTrigger]="'click'">
                Actions
                <span nz-icon nzType="down"></span>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li (click)="onEditClick()" nz-menu-item [nzDisabled]="setOfCheckedId.size === 0 || setOfCheckedId.size === 2">Edit</li>
                    <li (click)="onAddClick()" nz-menu-item>Add Pet</li>
                    <li (click)="onDeleteClick()" nz-menu-item [nzDisabled]="setOfCheckedId.size === 0 || setOfCheckedId.size === 2">Delete Pet</li>
                </ul>
            </nz-dropdown-menu>
        </div>
        <nz-table #petsTable [nzData]="pets">
            <thead>
                <tr>
                    <th>Check</th>
                    <th>Name</th>
                    <th>Breed</th>
                    <th>Birthdate</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pet of petsTable.data">
                <td [nzChecked]="setOfCheckedId.has(pet.id)" (nzCheckedChange)="onItemChecked(pet.id, $event)"></td>
                <td>{{pet.name}}</td>
                <td>{{pet.breed}}</td>
                <td>{{pet.birthdate}}</td>
                <td>{{pet.gender}}</td>
            </tr>
            </tbody>
        </nz-table>
    </section>
</main>